{% block title %}Nova Apresentação | Conecta Barueri{% endblock %}

{% block content %}

        </div>
        </div>
    </div>

                </div>

                {{ form.hidden_tag() }}

                <!-- CAMPO: NOME DA APRESENTAÇÃO -->
                <div class="mb-4">
                    </label>
                    {% if form.nome.errors %}
                            {% for error in form.nome.errors %}
                            {% endfor %}
                        </div>
                    {% else %}
                    {% endif %}
                </div>

                <div class="mb-4">
                    </label>
                    {% if form.projeto_id.errors %}
                            {% for error in form.projeto_id.errors %}
                            {% endfor %}
                        </div>
                    {% else %}
                    {% endif %}
                </div>

                        Cancelar
                    </a>
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}
